<div class="profile-list wrapper">
  <div class="container">
    <div class="profile-list profile--small col-md-5">
      <%= react_component 'Search', nil %>
    </div>
    <%= react_component 'DevelopersList', 'RootRoute', @search_params.to_props.to_json %>
  </div>
</div>
