<table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">

<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 20px 0 20px;" valign="top">
    <img src="<%= root_url %>assets/hungryhead.png" alt="Hireables Logo" width="50px" />
  </td>
</tr>

<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0; margin-top:20px;">
  <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
    <h3 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 22px; line-height: 1.6; margin: 0; padding: 0;"> Hi <%= @user.name.split(' ').first %> ! </h3>
  </td>
</tr>

<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
      Thank you for signing up to HungryHead! We will verify your details as soon as we can. Hireables is currently in beta, and we are adding new recruiters in small groups as we roll out new features.
    </p>
  </td>
</tr>
<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0; margin-bottom: 15px;">
      Here how hungryhead can help you and your idea:
    </p>

    <ul class="no-style" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0; margin-left: 20px; color: #222;">
      <li style="line-height: 1.6;">
        Share and discover new startup ideas anytime, anywhere.
      </li>
      <li style="line-height: 1.6;">
        Collaborate on startup ideas.
      </li>
      <li style="line-height: 1.6;">
        Pre-mortem your startup idea, not post-mortem.
      </li>
      <li style="line-height: 1.6;">
        Validate and access funds for your startup idea.
      </li>
      <li style="line-height: 1.6;">
        Meet and connect with peers and mentors.
      </li>
    </ul>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px;  line-height: 1.6; margin: 0; padding: 0; margin-top: 10px;">
      and lastly its fun, practical and rewarding.
    </p>
  </td>
</tr>
<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
  <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
      We're really happy to have you onboard, and hope you will have a good experience. Just send us an email if you have any questions.
    </p>
  </td>
</tr>
</table>
