.badge
  vertical-align: middle
  text-align: center
  font-weight: 500
  text-transform: uppercase

  &.tag
    border: 1px solid #777
    display: inline-block
    padding: 5px 10px
    margin: 0.5em
    text-decoration: none
    color: #333
    min-width: 50px
    letter-spacing: 0.02em
    font-size: 12px

  &.hireable
    font-size: 14px
    line-height: 24px
    position: absolute
    color: white
    width: 24px
    height: 24px
    background-color: #66bb6a
    border-radius: 100%
    padding: 0px
    left: 65px
    top: 6px
    z-index: 10px
    box-shadow: rgba(63, 67, 69, 0.298039) 0px 0px 16px 0px
    border: 1px solid white

    &.big
      left: 115px
