.bio
  display: block
  margin-top: 10px
  color: #333
  max-width: 60%
  font-weight: 400

.profile--item
  .bio
    font-size: 14px

.profile--show
  .bio
    font-size: 15px

.popup
  .profile--show
    .bio
      max-width: 100%
