.profile--show,
.profile--item
  .bio
    display: block
    margin-top: 10px
    color: rgba(0, 0, 0, 0.7)
    max-width: 60%
    font-weight: 400

.profile--item
  .bio
    font-size: 14px

.profile--show
  .bio
    font-size: 15px

.popup
  .profile--show
    .bio
      max-width: 100%
