.wrapper
  paddingTop: 60px
  paddingBottom: 60px
  display: flex

  .skills
    max-width: 80%

  .image
    position: relative
    min-width: 200px

  .profile
    margin-left: 50px

.popup
  .wrapper
    padding: 0

    .profile
      margin-left: 0

    .skills
      max-width: 100%
