<div class="card">
  <h2 class="title">Register as recruiter</h2>
  <p class="subtitle">
    Note: Recruiter signups are currently in beta and therefore, we can't guarantee that you will be granted access to the platform. Please signup and we will be touch once your details are verified.
  </p>
  <%= react_component 'RecruiterRegistration', nil, { action: registration_path(resource_name), errors: devise_error_messages! }.to_json %>
  <div class="links">
    <%= render "recruiters/shared/links" %>
  </div>
</div>
