<div class="card">
  <%= react_component 'RecruiterRegistration', nil, { action: registration_path(resource_name), errors: devise_error_messages! }.to_json %>
  <%= render "recruiters/shared/links" %>
</div>
