<div>
  <h3>Cookies</h3>
  <p>
   A Cookie (not to be confused with the literal definition), is a small piece of data sent from a website and stored into your web browser while you are browsing a website.
  </p>
  <p>
    A cookie may send anonymous information about how you use our Service to us but does not collect any personal information. All cookies have an expiry date and time, meaning they will only work for a particular time period. Some cookies have a longer lifetime than the others depending on the need. A persistent cookie, for example, have a longer lifetime and remains on your computer after you close your browser so that it can be used by your browser on future visits. A session cookie, on the other hand, is a temporary cookie and disappears after you close your browser. All cookies can be removed by going into your web browser's settings.
  </p>
  <p>
    You can reset your web browser to reject all cookies or to indicate when a cookie is being sent. However, some critical features of our Service may not function at all if the ability to accept cookies is disabled.
  </p>
</div>

<div>
  <h3>Pixel Tags (a.k.a Web beacons)</h3>
  <p>
   Pixel tags (which are also called clear GIFs or web beacons) are small snippets of code or images embedded on our website and in an email that help us to learn how you interact with our Service.
  </p>
  <p>
    When you use our Service, we may use Pixel tags, which are used to track the online usage patterns anonymously. No personal information from your Hireables account is collected using these tags. We may also use these tags in our emails sent to our users to track which emails are opened by recipients. The information is used to enable more meaningful reporting and make Hireables better for our community.
  </p>
</div>

<div>
  <h3>Usage</h3>
  <p>
    Hireables employs cookies to help recognize you as a repeat visitor, to improve the quality of our Services, and to make your browsing experience personalised and meaningful.
  </p>
</div>
<div class="divider b-b text-green b-grey b-md b-small m-t-20"></div>
<div>
  <h3>Technical bits</h3>
  <p>
    When you visit Hireables, our web server sends a cookie to your device, which allows us to recognize your device (but not the person using it). By associating the identification secret stored in the cookies with other account information stored in our database when, for example, you log into the Services, we know that the cookie information relates to your hungryhead account.
  </p>

  <h5>
    Some examples of the types of cookies Hireables uses:
  </h5>
  <ul class="clearfix">
    <h3>Signup & Login</h3>
    <p>
      Hireables uses authentication cookies to tell us when you’re logged in to Hireables. This lets us show you personalised views and information related to your interests.
    </p>

    <h3>Security</h3>
    <p>
      Cookies help us protect your account from being accessed by anyone other than you, alert you and us when your account is accessed, and provide capabilities that allow us to disable any active sessions you have (for example, when you log out or change your password).
    </p>

    <h3>Saving preferences</h3>
    <p>
      Hireables uses cookies that provide functionality and help us deliver our products and services better — for example, by storing your preferences, which help us tailor our views accordingly.
    </p>

    <h3>Analytics and research</h3>
    <p>
      Cookies and other analytical technologies help us learn, improve, and research features and content on the Hireables website. For example, we may use cookies to determine which types of browsers or devices you are using to access Hireables or which areas of our website you are least interested in so that we can make your experience more meaningful.
    </p>
  </ul>
</div>

<div>
  <h3>Opting out</h3>
  <p>
    We truly respect your privacy and therefore, we do not collect or share any of your personal information. Most of the information we collect is essential for our service to function smoothly across all devices and OS platforms.
  </p>
  <p>
    Most web browsers are built around cookies and automatically accept cookies but, if you prefer, you can change your browser settings to prevent that or to notify you each time a cookie is set. You can also learn more about cookies by visiting www.allaboutcookies.org, which includes essential information on cookies and how to block cookies using different browsers. Please note that blocking or deleting cookies may prevent you from using full features of our Services.
  </p>

</div>
<div class="divider b-b text-green b-grey b-md b-small m-t-40"></div>
