<%= content_for :page_title, 'Privacy Policy' %>
<%= content_for :page_subtitle, 'How we protect and use your private data' %>

<div class="text-master">
  <h3>Information Collection</h3>
  <p>
    In order for you to create an account on Hireables and use our services, we need to collect and process some of your personal information. Depending on your use of the Services, that may include:
  </p>
  <ul>
    <li>
      information (such as your name and email) that you provide when registering as a user of the Services;
    </li>
    <li>
      your login and password details, in connection with the account sign-in process;
    </li>
    <li>
      information about your activity on and interaction with Hireables, such as your IP address and the type of device or browser you use;
    </li>
  </ul>
</div>

<div>
  <h3>What’s Private</h3>
  <p>
    This data will not be publicly displayed or revealed to either employers or developers:
  </p>
  <ul>
    <li>your private email unless marked visible</li>
    <li>your password details</li>
    <li>your IP address</li>
  </ul>
  <p>
    We don’t give access to your personal information to any third-party services. We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect Hireables’s legal rights.
  </p>
</div>

<div>
  <h3>What’s Public</h3>
  <p>
    Hireables is a private platform and therefore, we don't share your content with search engines or third-party services. Only employers and developers who have joined the platform can see each others profile.
  </p>
</div>

<div>
  <h3>Members only</h3>
  <p>
    When you create an account with us, we create a profile page for you on Hireables, containing your username, name, profile information, and other preferences. Whenever your name appears on Hireables people can click on your name to see your profile. The profile is searchable on Hireables, but not via search engines like Google or Yahoo. Here are some of the things that will be viewable on your profile to both employers and other developers who have joined the platform, or elsewhere on Hireables:
  </p>
  <ul>
    <li>
      the name, username, bio, website
    </li>
    <li>
      any information you choose to add to your profile (like a picture, bio, preferences, or your location)
    </li>
  </ul>
</div>

<div>
  <h3>How we use your personal data: </h3>
  <ul>
    <li>
      identify you when you sign in to your account;
    </li>
    <li>
      enable us to provide you with the Services you require;
    </li>
    <li>
      send you marketing communications we think you may find useful, but only in accordance with your email settings;
    </li>
    <li>
      administer your account with us;
    </li>
    <li>
      enable us to contact you regarding any question you make through the Services; and
    </li>
    <li>
      analyze the use of the Services and the people visiting to improve our content and Services;
    </li>
  </ul>
</div>

<div>
  <h3>Email</h3>
  <p>
    We want to communicate with you only if you want to hear from us, this includes sending you information you have subscribed. We try to keep emails to a minimum and give you the ability to opt-out of any marketing communications we send.

    We may send you service-related announcements on the rare occasions when it is necessary to do so.
  </p>
</div>
