<div class="text-master">
  <h3>Information Collection</h3>
  <p>
    In order for you to create an account on Hireables and use our services, we need to collect and process some of your personal information. Depending on your use of the Services, that may include:
  </p>
  <ul>
    <li>
      information (such as your name, email and your school, college or university name) that you provide by completing forms on Hireables, including if you register as a user of the Services, subscribe to our newsletters, or request any information;
    </li>
    <li>
      your login and password details, in connection with the account sign-in process;
    </li>
    <li>
      information about your activity on and interaction with Hireables, such as your IP address and the type of device or browser you use;
    </li>
    <li>
      communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem); and
    </li>
    <li>
      information that you submit to Hireables in the form of comments, feedbacks, investments, questions or messages to other users.
    </li>
  </ul>
</div>


<div>
  <h3>What’s Private</h3>
  <p>
    This data will not be publicly displayed or revealed to other users:
  </p>
  <ul>
    <li>your private email</li>
    <li>your password details</li>
    <li>your IP address</li>
    <li>communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem)</li>
  </ul>
  <p>
    We don’t give access to your personal information to any third-party services. We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect Hireables’s legal rights.
  </p>
</div>

<div>
  <h3>What’s Public</h3>
  <p>
    Hireables is a private community and therefore, we don't share your content with search engines or third-party services. Only members who have joined the platform can see your profile, follow or message you through our services.
  </p>
</div>

<div>
  <h3>Members only</h3>
  <p>
    When you create an account with us, we create a profile page for you on Hireables, containing your username, name, profile information, and a list of ideas you have pitched. Whenever your name appears on Hireables (for example, when you post comments, leave a feedback, make an investment, send messages, or contact us), people can click on your name to see your profile. The profile is searchable on Hireables, but not via search engines like Google or Yahoo. Here are some of the things that will be publicly (members only) viewable on your profile, or elsewhere on Hireables:
  </p>
  <ul>
    <li>
      the name, username, school, college or university
    </li>
    <li>
      any information you choose to add to your profile (like a picture, bio, interests, or your location)
    </li>
    <li>
      ideas you've pitched
    </li>
    <li>
      followers/followings you have
    </li>
    <li>
      any comments or feedbacks you’ve posted on Hireables
    </li>
    <li>
      any votes or virtual investments made
    </li>
  </ul>
</div>

<div>
  <h3>How we use your personal data: </h3>
  <ul>
    <li>
      identify you when you sign in to your account;
    </li>
    <li>
      enable us to provide you with the Services you require;
    </li>
    <li>
      send you marketing communications we think you may find useful, but only in accordance with your email settings;
    </li>
    <li>
      suggest ideas and people to you when you use the Services which we believe will be of your interest based on your preferences already set;
    </li>
    <li>
      administer your account with us;
    </li>
    <li>
      enable us to contact you regarding any question you make through the Services;
    </li>
    <li>
      analyze the use of the Services and the people visiting to improve our content and Services;
    </li> and
    <li>use for other purposes that we may disclose to you when we request your information.</li>
  </ul>
</div>

<div>
  <h3>Email</h3>
  <p>
    We want to communicate with you only if you want to hear from us, this includes sending you interesting ideas or people you may want to know. We try to keep emails to a minimum and give you the ability to opt-out of any marketing communications we send.

    We may send you service-related announcements on the rare occasions when it is necessary to do so.
  </p>
</div>

<div>
  <h3>Wrap up</h3>
  <p>
    To modify or delete the personal information you have provided to us, please log in and update your profile. We may retain certain information as required by law or for necessary business purposes.
  </p>
  <p >
    On request, we will give you a copy of all the personal information about you that we hold. This information is subject to a fee not exceeding the prescribed fee permitted by law.
  </p>
  <p >
    People under 18 (or the legal age in your jurisdiction) are not permitted to use Hireables on their own, and so this privacy policy makes no provision for their use of Hireables.
  </p>
  <p >
    Information that you submit through the Services may be transferred to countries other than where you reside (for example, to our servers in the Europe). We will protect all information we receive in accordance with this privacy policy.
  </p>
</div>
