<div class="card small">
  <h2 class="title">Change your password</h2>
  <p class="subtitle">
    Note: Only for existing verified accounts.
  </p>
  <%= react_component 'RecruiterUpdatePassword', nil, { action: password_path(resource_name), errors: devise_error_messages! }.to_json %>
  <div class="links">
    <%= render "recruiters/shared/links" %>
  </div>
</div>
