<%= react_component 'EmployerUpdatePassword', nil, { action: password_path(resource_name), errors: devise_error_messages! }.to_json %>
<div class="links">
  <%= render "employers/shared/links" %>
</div>
