<div class="card small">
  <%= react_component 'RecruiterLogin', nil, { action: session_path(resource_name), errors: devise_error_messages! }.to_json %>
  <%= render "recruiters/shared/links" %>
</div>
