<%= content_for :page_title, 'Introducing Hireables 1.0' %>
<%= content_for :page_subtitle, 'Hireables leverages Github API to enable developers
      extend their Github profiles and tech employers
      find real hireables.' %>
<h1>I am announcement</h1>
