.card
  background-color: white
  max-width: 600px
  margin: 50px auto
  padding: 20px
  box-shadow: rgba(63, 67, 69, 0.298039) 0px 0px 16px 0px

  &.small
    max-width: 300px

  .title
    padding: 0
    margin: 0
    color: #777
    font-weight: 500
    font-size: 18px
    color: rgb(111, 135, 154)
