.list--header {
  background-color: #fafafa;
}
.developer--item {
  &.first-of-type {
    border-top: 1px solid #f2f2f2;
  }
}

.developers-show {
  max-width: 600px;
  margin: 0 auto;

  .badges {
    margin: 10px auto!important;
  }
  .bio {
    margin: 10px auto!important;
    max-width: 60%!important;
  }
}

@media(max-width: 500px) {
  .developers-show {
    max-width: 300px;
    margin: 0 auto;
  }
  .list--header {
    min-height: 80px;
  }
  .copyright {
    padding-bottom: 20px;
    display: block;
    float: none!important;
  }
  .disclaimer {
    display: block;
    padding-top: 20px;
  }
  .list--header--title {
    font-size: 18px!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
  }
  .list--header--hireable-toggle {
    display: block!important;
    float: none!important;
    width: 55%!important;
    margin-top: 0!important;
    margin-left: 15px!important;
  }
}
