.list--header
  background-color: #f1f1f1

.profile--item
  border-bottom: 1px solid #f2f2f2
  font-weight: 500
  position: relative
  background-color: white
  padding-bottom: 20px

  &.premium
    background-color: #eaf4fb

  .pro-badge
    background: #e43
    letter-spacing: 1px
    color: #f0f0f0

.profile--show
  max-width: 980px
  margin: 50px auto
  position: relative

  .badges
    margin: 10px auto!important

@media(max-width: 500px)
  .profile--show
    max-width: 300px
    margin: 0 auto

  .list--header
    min-height: 80px

  .copyright
    padding-bottom: 20px
    display: block
    float: none!important

  .disclaimer
    display: block
    padding-top: 20px

  .list--header--title
    font-size: 18px!important
    margin-right: 0!important
    margin-bottom: 0!important
