.form
  margin-top: 10px

  .row
    display: block
    width: 100%
    overflow: hidden

    .field
      float: left
      min-width: calc(50% - 20px)
      margin-right: 20px

  .actions
    margin-top: 20px
