
/* Global Styles
  Setup Helpers
*/

.no-style {
  list-style: none;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.inline {
  display: inline-block;
}
.m-r-20 {
  margin-right: 20px;
}
.p-b-100 {
  padding-bottom : 100px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.hidden {
  display:none;
}
.m-l-5 {
  margin-left: 5px;
}
.m-t-5 {
  margin-top: 5px;
}
.p-t-20 {
  padding-top: 20px;
}
.m-t-10 {
  margin-top: 10px;
}
.bold {
  font-weight: 500;
}
.block {
  display: block;
}
.p-r-60 {
  padding-right: 60px;
}
.text-center {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.pull-right {
  float: right;
}
.col-8 {
  width: 80%;
  float:left;
}
.col-6 {
  width: 45%;
  float:left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-4 {
  width: 45%;
  float:left;
  padding-left: 15px;
  padding-right: 15px;
}
.bg-horizon {
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%);
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%);
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%);
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%);
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%);
}

.demo-tags {
  .demo-tags--highlight {
    padding: 8px;
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
    font-weight: 500;
  }
}

/*
  Standard Styles : Body elements
*/

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: #f8f9fd;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.content {
  padding-bottom: 100px;
  min-height: 100%;
}
.pagination {
  padding: 0 20px 20px;
  float: right;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  display: block;
  overflow: hidden;
}
.not_available {
  background-color: #ef5350;
}
.available {
  background-color: #66bb6a;
}
.profile-button {
  cursor: pointer;
  background-color: #66bb6a;
}
.may_available {
  background-color: #f57f17;
}

.company_shown {
  background-color: #2196f3;
}
.company_hidden {
  background-color: #455a64;
}
.members-show {
  .members--small {
    padding: 40px 0 0;
  }
}
.members-list {
  clear: both;
  display: block;
  width: 100%;
  .members--small {
    margin: 40px 40px;
  }
  .filters {
    &.sticky {
      position:fixed;
      top: 50px;
      width: 300px;
    }
  }
}

.nav {
  .nav--toolbar {
    padding-left: 15px!important;
  }
}
.footer {
  padding-left: 15px;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.organizations-list {
  .organizations--small {
    padding: 0px 0 40px;
  }
}

.col-md-7 {
  float: right;
  width: 60%;
}
.col-md-5 {
  float: left;
  width: 30%;
}

@media (max-width: 1024px) {
  .col-md-7 {
    float: none;
    width: 100%;
    display: block;
  }
  .content {
    padding-bottom: 0
  }
  .col-md-5 {
    float: none;
    width: 100%;
    display: block;
  }
}

/* Setup mobile media queries */
@media (max-width: 600px) {
  .hidden-sm {
    display:none;
  }
  .col-md-7 {
    float: none;
    width: 100%;
    display: block;
  }
  .col-md-5 {
    float: none;
    width: 100%;
    display: block;
  }
  .members-list {
    .members--small {
      margin: 0;
    }
  }
  .col-6 {
    width: 100%;
    padding: 15px;
  }
  .search-box {
    .react-tagsinput {
      width: 100%;
    }
  }
  .col-4 {
    width:100%;
    padding: 15px;
  }
  .member {
    &.member--item {
      div {
        width: 100%;
      }
      width: 100%
    }
  }
  .sm-pull-reset {
    float: none;
    padding: 15px!important;
  }
}

.social-icons {
  line-height: 27px;
  display: block;
  font-size: 12px;
  span {
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
  }
}

.show-profile {
  cursor: pointer;
}

/* Loader for react component */
.loader {
  position: fixed;
  top: 40%;
  right: 30%;
}
