.split-home
  width: 100%
  padding: 50px 0
  display: flex
  justify-content: space-around

  .hero-card
    border: 1px solid #d8d8d8

    h1
      font-weight: 600
      font-size: 42px

    h4
      font-size: 16px
      font-weight: 300
      color: #3C4B5D
      line-height: 1.4
      margin-top: 20px
