.jumbotron
  height: 40vh
  width: 100%
  position: relative
  text-align: center
  color: white

  &.landing
    background-image: asset-url('dots.png')
    background-repeat: no-repeat
    background-size: cover

  &.page
    background-color: #5b98e0

  .intro
    position: absolute
    width: 50%
    height: 50%
    z-index: 10
    margin: auto
    top: 0
    left: 0
    bottom: 0
    right: 0

    .subtitle
      font-size: 20px
      font-weight: 400
      line-height: 1.6
