.list--header {
  background-color: #fafafa;
}
.member--item {
  &.first-of-type {
    border-top: 1px solid #f2f2f2;
  }
}

@media(max-width: 500px) {
  .list--header {
    min-height: 80px;
  }
  .copyright {
    padding-bottom: 20px;
    display: block;
    float: none!important;
  }
  .disclaimer {
    display: block;
    padding-top: 20px;
  }
  .list--header--title {
    font-size: 18px!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
  }
  .list--header--hireable-toggle {
    display: block!important;
    float: none!important;
    width: 55%!important;
    margin-top: 0!important;
    margin-left: 15px!important;
  }
}
