.nav
  position: absolute
  width: 100%
  z-index: 10

  .profile-link
    &.active
      font-weight: 500

.application
  .nav
    background-color: #5b98e0

@media(max-width: 500px)
  .nav
    .container
      max-width: calc(100% - 40px)

      .logged-in
        line-height: 56px

        .logged-in-name
          display: none!important

        .logged-in-image
          margin-right: 0!important
