.nav
  position: absolute
  width: 100%
  z-index: 10

  .profile--link
    margin-right: 16px

    &.active
      font-weight: 500
      border-bottom: 1px solid white

.application
  .nav
    box-shadow: rgba(63, 67, 69, 0.298039) 0px 0px 16px 0px
    background-color: #5b98e0
