.pagination
  padding: 0
  border: 1px solid #f2f2f2
  overflow: hidden

  .link
    padding: 10px

    &.next
      float: right
      border-left: 1px solid #DFDFE1

    &.previous
      float: left
      border-right: 1px solid #DFDFE1
