.search-wrapper,
.employers-show-wrapper
  position: relative
  margin: 40px 0px

  .search-filters,
  .employer-profile
    width: 30%
    float: left

    &.sticky
      position: fixed
      top: 50px
      width: 294px

    .filters
      padding: 10px
      background-color: white

  .search-results,
  .employer-favourites
    width: 68%
    float: right

@media(max-width: 980px)
  .search-wrapper,
  .employers-show-wrapper

    .search-filters,
    .search-results,
    .employer-profile,
    .employer-favourites
      width: 100%
      float: none

    .search-results,
    .employer-favourites
      margin-top: 40px

@media(max-width: 500px)
  .search-wrapper,
  .employers-show-wrapper
    margin: 0

    .search-filters,
    .search-results,
    .employer-profile

      width: 100%
      float: none

      .search-card-title
        display: none!important

    .search-results,
    .employer-favourites
      margin-top: 0
