.search-wrapper,
.employers-show-wrapper
  position: relative
  margin: 40px 0px

  .search-box,
  .employer-profile
    width: 30%
    float: left

    .search-filters,
    .saved-searches
      border: 5px solid #f2f2f2

    .saved-searches
      margin-top: 20px

      .search
        margin-bottom: 5px
        font-size: 14px

        .item
          margin-bottom: 5px

        .key
          font-weight: 500

    .search-filters
      &.sticky
        position: fixed
        top: 50px
        width: 294px

      .filters
        padding: 10px
        background-color: white

  .search-results,
  .employer-favourites
    width: 66%
    float: right

@media(max-width: 980px)
  .search-wrapper,
  .employers-show-wrapper
    margin: 5px 0

    .search-box,
    .search-results,
    .employer-profile,
    .employer-favourites
      width: 100%
      float: none

      .search-filters,
      .saved-searches
        border: none

    .search-results,
    .employer-favourites
      margin-top: 20px

      .card-title
        margin-bottom: 0!important

@media(max-width: 500px)
  .search-wrapper,
  .employers-show-wrapper
    margin: 0

    .search-box,
    .search-results,
    .employer-profile
      width: 100%
      float: none

      .search-card-title
        display: none!important

    .search-results,
    .employer-favourites
      margin-top: 0
