.search-wrapper
  position: relative
  margin: 40px 0px

  .search-filters
    width: 30%
    float: left

    &.sticky
      position: fixed
      top: 50px
      width: 294px

    .filters
      padding: 10px
      background-color: white

  .search-results
    width: 68%
    float: right
