<%= react_component 'app.MemberShow', {member: @member, languages: @languages} %>
<div class="container p-b-100">
  <div class="members-show">
    <div class="members-show members--small sm-pull-reset">
      <%= react_component 'app.Search', {action: '/members'} %>
    </div>
  </div>
</div>
